---
---

@import "{{ site.theme }}";

h1 {
    text-align: center;
}

a:hover{
    font-weight: normal;
}

#logo {
    border-radius: 50%;
}

.wrapper {
    width: 1000px;
}

.wrapper > header {
    float: right;
    position: static;
}

.wrapper > section {
    float: left;
    width: 600px;
}

.post {
    width: 900px;
}

.post > section {
    width: initial;
}

.post h1 {
    text-align: left;
}

.post .highlighter-rouge {
	width: 900px;
}

.logo {
    height: 50px;
    margin: 10px;
    vertical-align: middle;
}

.aws {
    height: 125px;
}