---
---

@import "{{ site.theme }}";

h1 {
    text-align: center;
}

header > p {
    text-align: center;
}

a:hover{
    font-weight: normal;
}

#logo {
    border-radius: 50%;
}

.wrapper {
    width: 1000px;
}

.wrapper > header {
    float: right;
    position: static;
}

.wrapper > section {
    float: left;
    width: 600px;
}

.post {
    width: 900px;
}

.post > section {
    width: initial;
}

@media print, screen and (max-width: 960px) {
    header p {
        text-align: center;
    }
    .wrapper {
        width: auto;
    }
    .wrapper > section {
        float: none;
        width: auto;
    }
}

.post h1 {
    text-align: left;
}

.logo {
    height: 50px;
    margin: 10px;
    vertical-align: middle;
}

.aws {
    height: 125px;
}